{% extends "base.html" %}
{% load staticfiles %}
{% block title %}物品详情：{{ item }} {% endblock %}
{% block content %}
<p class="lead">{{ item }}操作记录：</p>
<table class="table table-striped table-sm">
    <thead>
        <th>操作</th>
        <th>物品</th>
        <th>时间</th>
        <th>操作人</th>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{% if loc == log.location_to %}存入{% else %}取出{% endif %}</td>
            <td>{{ log.item }}</td>
            <td>{{ log.time }}</td>
            <td>
                <a href="{% url 'personal:user' log.operator.id %}">
                    {{ log.operator }}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}