{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ user.name }}操作记录{% endblock %}
{% block content %}
<p class="lead">{{ user.name }}操作记录：</p>
<table class="table table-striped table-sm">
    <thead>
        <th>物品</th>
        <th>调整</th>
        <th>自</th>
        <th>至</th>
        <th class="d-none d-md-table-cell">时间</th>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td><a href="{% url 'inventory:item' log.item.id %}">{{ log.item }}</a></td>
            <td>{{ log.operation }}</td>
            {% if log.operation == '位置' %}
            <td>
                {% if log.fr.id %}
                <a href="{% url 'inventory:location' log.fr.id %}">
                    {{ log.fr }}
                </a>
                {% else %}
                {{ log.fr }}
                {% endif %}
            </td>
            <td>
                {% if log.to.id %}
                <a href="{% url 'inventory:location' log.to.id %}">
                    {{ log.to }}
                </a>
                {% else %}
                {{ log.to }}
                {% endif %}
            </td>
            {% else %}
            <td>{{ log.fr }}</td>
            <td>{{ log.to }}</td>
            {% endif %}
            <td class="d-none d-md-table-cell">{{ log.time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block script %}
<script src="https://cdn.bootcss.com/xlsx/0.14.1/xlsx.full.min.js"></script>
<script src="https://cdn.bootcss.com/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
</script><script src="https://cdn.bootcss.com/TableExport/5.2.0/js/tableexport.min.js"></script>
<script>
var myDate = new Date();
TableExport(document.getElementsByTagName("table"), {
  headers: true,                      // (Boolean), display table headers (th or td elements) in the <thead>, (default: true)
  footers: true,                      // (Boolean), display table footers (th or td elements) in the <tfoot>, (default: false)
  formats: ["xlsx"],                   // (String[]), filetype(s) for the export, (default: ['xlsx', 'csv', 'txt'])
  filename: "{{ user }}操作记录" + myDate.getFullYear() + myDate.getMonth() + myDate.getDate(),                     // (id, String), filename for the downloaded file, (default: 'id')
  bootstrap: true,                   // (Boolean), style buttons using bootstrap, (default: true)
  exportButtons: true,                // (Boolean), automatically generate the built-in export buttons for each of the specified formats (default: true)
  position: "top",                 // (top, bottom), position of the caption element relative to table, (default: 'bottom')
  ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file(s) (default: null)
  ignoreCols: null,                   // (Number, Number[]), column indices to exclude from the exported file(s) (default: null)
  trimWhitespace: true,               // (Boolean), remove all leading/trailing newlines, spaces, and tabs from cell text in the exported file(s) (default: false)
  RTL: false,                         // (Boolean), set direction of the worksheet to right-to-left (default: false)
  sheetname: "{{ user }}"                     // (id, String), sheet name for the exported spreadsheet, (default: 'id')
});
</script>
{% endblock %}