{% extends "base.html" %}
{% load staticfiles %}
{% block title %}物品详情：{{ item }} {% endblock %}
{% block content %}
<table class="table table-striped table-sm">
    <thead>
        <th>操作</th>
        <th>自</th>
        <th>至</th>
        <th>时间</th>
        <th>操作人</th>
    </thead>
    <tbody>
    {% for log in logs %}
    <tr>
        <td>{{ log.operation }}</td>
        <td>{{ log.fr }}</td>
        <td>{{ log.to }}</td>
        <td>{{ log.time }}</td>
        <td>{{ log.operator }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
