{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}个人中心{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<p class="lead">个人信息：</p>
<table class="table table-striped row mx-0">
    <tbody class="w-100">
        <tr class="row mx-0">
            <th class="col-3">用户名</th>
            <td class="col-9">{{ user.name }}</td>
        </tr>
        <tr class="row mx-0">
            <th class="col-3">邮箱</th>
            <td class="col-9">{{ user.email }}</td>
        </tr>
        <tr class="row mx-0">
            <th class="col-3">权限</th>
            <td class="col-9">{{ permission }}</td>
        </tr>
        {% if manager_list %}
        <tr class="row mx-0">
            <th class="col-3">所属主管</th>
            <td class="col-9">
                {% for user in manager_list %}
                <a href="{% url 'personal:user' user.id %}">
                    {{ user.name }}
                </a>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if staff_list %}
        <tr class="row mx-0">
            <th class="col-3">下属员工</th>
            <td class="col-9">
                {% for user in staff_list %}
                <a href="{% url 'personal:user' user.id %}">
                    {{ user.name }}
                </a>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        <tr class="row mx-0">
            <th class="col-3">注册时间</th>
            <td class="col-9">{{ user.c_time }}</td>
        </tr>
    </tbody>
</table>
{% if request_list %}
<p class="lead">相关申请：</p>
<table class="table table-striped">
    <thead>
        <th>#</th>
        <th>申请人</th>
        <th>申请位置</th>
        <th>申请理由</th>
        <th>申请时间</th>
        <th>批准人</th>
        <th>状态</th>
    </thead>
    <tbody>
        {% for request in request_list %}
        <tr>
            <td>{{ request.id }}</td>
            <td>
                <a href="{% url 'personal:user' request.applicant.id %}">
                    {{ request.applicant }}
                </a>
            </td>
            <td>
                <a href="{% url 'inventory:location' request.location.id %}">
                    {{ request.location }}
                </a>
            </td>
            <td>{{ request.explanation }}</td>
            <td>{{ request.time }}</td>
            <td>
                {% if request.auditor %}
                <a href="{% url 'personal:user' request.auditor.id %}">
                    {{ request.auditor }}
                </a>
                {% else %}
                暂无
                {% endif %}
            </td>
            <td>
                {% if request.approved %}
                已通过
                {% elif request.rejected %}
                已拒绝
                {% else %}
                未定
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
{% block script %}{% endblock %}