{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}位置申请{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<p class="lead">相关申请：</p>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="others-req-tab" data-toggle="tab" href="#others-req" role="tab"
            aria-controls="others-req" aria-selected="false">收到申请</a>
        <a class="nav-item nav-link" id="my-req-tab" data-toggle="tab" href="#my-req" role="tab" aria-controls="my-req"
            aria-selected="true">我的申请</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane show active" id="others-req" role="tabpanel" aria-labelledby="others-req-tab">
        <table class="table table-striped">
            <thead>
                <th>#</th>
                <th>申请人</th>
                <th>申请位置</th>
                <th>申请理由</th>
                <th>申请时间</th>
                <th>处理人</th>
                <th>状态</th>
            </thead>
            <tbody>
                {% for loc_req in others_request_list %}
                <tr>
                    <td>{{ loc_req.id }}</td>
                    <td>
                        <a href="{% url 'personal:user' loc_req.applicant.id %}">
                            {{ loc_req.applicant }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'inventory:location' loc_req.location.id %}">
                            {{ loc_req.location }}
                        </a>
                    </td>
                    <td>{{ loc_req.explanation }}</td>
                    <td>{{ loc_req.time }}</td>
                    <td id="auditor_{{ loc_req.id }}">
                        {% if loc_req.auditor %}
                        <a href="{% url 'personal:user' loc_req.auditor.id %}">
                            {{ loc_req.auditor }}
                        </a>
                        {% else %}
                        暂无
                        {% endif %}
                    </td>
                    <td id="status_{{ loc_req.id }}">
                        {% if loc_req.approved %}
                        <span class="badge badge-success">已通过</span>
                        {% elif loc_req.rejected %}
                        <span class="badge badge-danger">已拒绝</span>
                        {% else %}
                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="btn btn-outline-success" onClick="cfm('{{ loc_req.id }}', 1)">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" onClick="cfm('{{ loc_req.id }}', 0)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="my-req" role="tabpanel" aria-labelledby="my-req-tab">
        <table class="table table-striped">
            <thead>
                <th>#</th>
                <th>申请人</th>
                <th>申请位置</th>
                <th>申请理由</th>
                <th>申请时间</th>
                <th>处理人</th>
                <th>状态</th>
            </thead>
            <tbody>
                {% for loc_req in my_request_list %}
                <tr>
                    <td>{{ loc_req.id }}</td>
                    <td>
                        <a href="{% url 'personal:user' loc_req.applicant.id %}">
                            {{ loc_req.applicant }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'inventory:location' loc_req.location.id %}">
                            {{ loc_req.location }}
                        </a>
                    </td>
                    <td>{{ loc_req.explanation }}</td>
                    <td>{{ loc_req.time }}</td>
                    <td>
                        {% if loc_req.auditor %}
                        <a href="{% url 'personal:user' loc_req.auditor.id %}">
                            {{ loc_req.auditor }}
                        </a>
                        {% else %}
                        暂无
                        {% endif %}
                    </td>
                    <td>
                        {% if loc_req.approved %}
                        <span class="badge badge-success">已通过</span>
                        {% elif loc_req.rejected %}
                        <span class="badge badge-danger">已拒绝</span>
                        {% else %}
                        <span class="badge badge-secondary">等待中</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="cfmModal" tabindex="-1" role="dialog" aria-labelledby="cfmModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cfmModalTitle">
                    <i class="fa fa-info" aria-hidden="true"></i> 提示信息
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalNotice"></p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="cfmId" />
                <input type="hidden" id="cfmResult" />
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-outline-primary" onClick="ajaxSubmit()">确定</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function cfm(id, result) {
        re_str = result ? '同意' : '拒绝';
        $('#modalNotice').html('您确认要<b>' + re_str + '</b>该申请吗？');
        $('#cfmId').val(id);
        $('#cfmResult').val(result);
        $('#cfmModal').modal();
    }

    function ajaxSubmit() {
        var id = $.trim($("#cfmId").val());
        var result = $.trim($("#cfmResult").val());
        var auditor_html = "<a href=\"{% url 'personal:user' request.session.user_id %}\">{{ request.session.user_name }}</a>";
        var status_html = new Array('<span class="badge badge-danger">已拒绝</span>',
            '<span class="badge badge-success">已通过</span>');
        $.ajax({
            url: '/personal/locreq/ajax/',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id': id,
                'result': result,
            },
            success: function (arg) {
                if (arg.status == 0) {
                    $('#cfmModal').modal('hide');
                    $('#auditor_' + id).html(auditor_html);
                    $('#status_' + id).html(status_html[result]);
                } else {
                    $('#modalNotice').html('发生错误！');
                }
            }
        });
    }
</script>
{% endblock %}