{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}用户信息{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<p class="lead">个人信息：</p>
<table class="table table-striped row mx-0">
    <tbody class="w-100">
        <tr class="row mx-0">
            <th class="col-4">用户名</th>
            <td class="col-8">{{ user.name }}</td>
        </tr>
        <tr class="row mx-0">
            <th class="col-4">权限</th>
            <td class="col-8">{{ permission }}</td>
        </tr>
        {% if manager_list %}
        <tr class="row mx-0">
            <th class="col-4">所属主管</th>
            <td class="col-8">
                {% for user in manager_list %}
                <a href="{% url 'personal:user' user.id %}">
                    {{ user.name }}
                </a>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if staff_list %}
        <tr class="row mx-0">
            <th class="col-4">下属员工</th>
            <td class="col-8">
                {% for user in staff_list %}
                <a href="{% url 'personal:user' user.id %}">
                    {{ user.name }}
                </a>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        <tr class="row mx-0">
            <th class="col-4">注册时间</th>
            <td class="col-8">{{ user.c_time }}</td>
        </tr>
    </tbody>
</table>
<a class="btn btn-outline-primary" href="{% url 'trace_item:traceUser' user.id %}">追踪</a>
{% endblock %}
{% block script %}{% endblock %}