{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "存入物品" %}{% endblock %}
{% block content %}
{% if item_list %}
<p class="lead pull-left">{% trans "存入物品到" %}{{ location }}：</p>
<table class="table table-striped table-sm">
    <thead>
        <th>{% trans "名称" %}</th>
        <th>{% trans "类型" %}</th>
        <th class="d-none d-md-table-cell">{% trans "创建用户" %}</th>
        <th></th>
    </thead>
    <tbody>
        {% for item in item_list %}
        <tr>
            <td><a href="{% url 'inventory:item' item.id %}">{{ item }}</a></td>
            <td>{% if item.template %}{{ item.template }}{% endif %}</td>
            <td class="d-none d-md-table-cell">{{ item.owner }}</td>
            <td>
                <a class="btn btn-outline-primary btn-sm" href="#" onClick="cfm('{% url 'inventory:put' item.id location.id %}', '{{ item }}', '{{ location }}')"
                    role="button">
                    <i class="fa fa-archive" aria-hidden="true"></i> {% trans "存入" %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="lead">{% trans "没有可用的物品" %}</p>
{% endif %}
<nav aria-label="page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="?page=1">
                {% trans "首页" %}
            </a>
        </li>
        {% if item_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ item_list.previous_page_number }}">
                {% trans "上一页" %}
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">
                {% trans "上一页" %}
            </a>
        </li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="#">
                {{ item_list.number }}/{{ item_list.paginator.num_pages }}
            </a>
        </li>
        {% if item_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ item_list.next_page_number }}">
                {% trans "下一页" %}
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">
                {% trans "下一页" %}
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="?page={{ item_list.paginator.num_pages }}">
                {% trans "尾页" %}
            </a>
        </li>
    </ul>
</nav>
<div class="modal fade" id="cfmModal" tabindex="-1" role="dialog" aria-labelledby="cfmModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cfmModalTitle">
                    <i class="fa fa-info" aria-hidden="true"></i> {% trans "提示信息" %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalNotice"></p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="url" />
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{% trans "取消" %}</button>
                <button type="button" class="btn btn-outline-primary" onClick="urlSubmit()">{% trans "确定" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function cfm(url, item, loc) {
        $('#modalNotice').html('{% trans "您确认要将" %}<b>' + item + '</b>{% trans "存入" %}<b>' + loc + '</b>{% trans "吗" %}？');
        $('#url').val(url);
        $('#cfmModal').modal();
    }

    function urlSubmit() {
        var url = $.trim($("#url").val());
        window.location.href = url;
    }

    function addItemMdl(url) {
        $('#addItemModal').modal();
    }
</script>
{% endblock %}