{% extends "base.html" %}
{% load staticfiles %}
{% block title %}添加物品{% endblock %}
{% block content %}
{% if item_list %}
<p class="lead">添加物品到{{ location }}：</p>
<table class="table table-striped">
    <thead>
        <th>名称</th>
        <th>数量</th>
        <th>属性</th>
        <th>所有者</th>
        <th></th>
    </thead>
    <tbody>
        {% for item in item_list %}
        <tr>
            <td><a href="{% url 'inventory:item' item.id %}">{{ item.name }}</a></td>
            <td>{{ item.quantity }} {% if item.unit %}{{ item.unit }}{% endif %}</td>
            <td>{{ item.attribute }}</td>
            <td>{{ item.owner }}</td>
            <td>
                <a class="btn btn-outline-primary" href="#" onClick="cfm('{% url 'inventory:put' item.id location.id %}', '{{ item.name }}', '{{ location }}')"
                    role="button">
                    <i class="fa fa-plus" aria-hidden="true"></i> 添加
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="lead">没有可用的物品</p>
{% endif %}
<div class="modal fade" id="cfmModal" tabindex="-1" role="dialog" aria-labelledby="cfmModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cfmModalTitle">
                    <i class="fa fa-info" aria-hidden="true"></i> 提示信息
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalNotice"></p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="url" />
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-outline-primary" onClick="urlSubmit()">确定</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function cfm(url, item, loc) {
        $('#modalNotice').html('您确认要将<b>' + item + '</b>存入<b>' + loc + '</b>吗？');
        $('#url').val(url);
        $('#cfmModal').modal();
    }

    function urlSubmit() {
        var url = $.trim($("#url").val());
        window.location.href = url;
    }
</script>
{% endblock %}