{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ action }}{{ name }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<p class="lead">{{ action }}{{ name }}：</p>
<form class="form-add" action="" method="post" id="main_form">
    {% csrf_token %}
    <div class="form-group row">
        <div class="col-3">{{ add_form.public.label }}</div>
        <div class="col-9">
            <div class="form-check">
                <input type="checkbox" name="public" class="form-check-input" id="id_public"
                {% if item.is_public or action == "新建" %}checked{% endif %}>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-3 col-form-label"><b>类型</b></label>
        <div class="col-9">{{ choose_form.template }}</div>
    </div>
    <div id="innerform">
    </div>
    <input name="is_popup" type="checkbox" {% if is_popup %}checked{% endif %} hidden>
    {% if is_popup %}
        <input name="template" value="{{ template_id }}" hidden>
        <input name="select_id" value="{{ select_id }}" hidden>
    {% endif %}
    <button type="submit" class="btn btn-outline-primary">保存</button>
    {% if is_edit %}
    <button type="submit" class="btn btn-outline-primary" name="save_as_new">另存为新</button>
    {% endif %}
</form>
{% endblock %}
{% block script %}
<script>
    False = false;
    True = true;
    None = null;
    data = {% if item.extra_data %}{{ item.extra_data | safe }}{% else %}{}{% endif %};
    {% if is_popup %}
    $("#site_header").remove();
    $('#id_template').attr('disabled', 'true');
    {% endif %}
    function ajaxSubmit() {
        var id = $.trim($('#id_template').val());
        $.ajax({
            url: '{% url "inventory:templateAjax" %}',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id': Number(id),
            },
            success: function (arg) {
                $('#innerform').html(arg);
                Object.keys(data).forEach(function (key) {
                    if (data[key] === True)
                        $('#id_' + key.replace(/ /g, '_')).prop("checked", true);
                    else if (data[key] === False)
                        $('#id_' + key.replace(/ /g, '_')).prop("checked", false);
                    else
                        $('#id_' + key.replace(/ /g, '_')).val(data[key]);
                });
                $('#id_name').val('{{ item.name|safe }}');
            }
        });
    }
    $('#id_template').change(function () {
        ajaxSubmit();
    });
    $(function () {
        {% if template_id %}
            $('#id_template').val({{ template_id }});
        {% endif %}
        ajaxSubmit();
    });
    function popup(n, t) {
        window.open('{% url 'inventory:add' %}'+'?template='+encodeURI(t)+'&select_id='+encodeURI(n), Math.random().toString(32).substr(2), 'height=500,width=800,resizable=yes,scrollbars=yes');
    }
</script>
{% endblock %}