<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>redirect</title>
</head>
<body>
<option id="new_option{{ item.id }}" value="{{ item.id }}">{{ item.name }}</option>
<script>
var node = document.getElementById("new_option{{ item.id }}");
for(var o=window.opener; o; o=o.opener){
    var list = o.document.getElementsByClassName('select_{{ template }}');
    for (var i = 0; i < list.length; i++) {
        list[i].appendChild(node.cloneNode(true));
    }
}
window.opener.document.getElementById('{{ select_id }}').value={{ item.id }};
window.close();
</script>
</body>
</html>