{% extends "base.html" %}

{% block title %} 实验室物品管理 {% endblock %}

{% block content %}

<div class="container">
  {% if request.session.is_login %}
  <p class="lead">
    您好，{{ request.session.user_name }}！欢迎回来！
  </p>
  {% else %}
  <p class="lead">
    您尚未登录，只能访问公开内容！
  </p>
  {% endif %}
  <p class="text-muted inline">网站施工中...</p>
  <a href="https://github.com/zyayoung/lab-item-tracking/wiki">
    <p class="text-info">
      帮助
    </p>
  </a>
  <a href="https://github.com/zyayoung/lab-item-tracking/issues">
    <p class="text-info">
      联系我们/反馈问题
    </p>
  </a>
</div>


{% endblock %}