{% extends "base.html" %}

{% block title %} Lab Item Tracking : item : {{ item.name }} {% endblock %}

{% block content %}

<p class="lead">{{ item.name }}</p>

<hr>

<dl class="dl-horizontal">
    <dt>数量</dt><dd>{{ item.quantity }}</dd>
    {% if item.unit %}<dt>单位</dt><dd>{{ item.unit }}</dd>{% endif %}
</dl>

{#<dl class="dl-horizontal">#}
{#  <dt>comments</dt><dd>{{ item.comments }}</dd>#}
{#</dl>#}

<hr>
<a href="{% url 'admin:inventory_item_change' item.id %}">edit item</a><br/>


{% endblock %}
