{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ name }}列表{% endblock %}
{% block content %}
{% if self.message %}
<div class="alert alert-warning">{{ self.message }}</div>
{% endif %}
<span class="lead">
    {{ name }}：
</span>
<form class="form-inline pull-right" method="get" action="">
    <input class="form-control mr-sm-2" name="q" type="search" placeholder="搜索">
    <button class="btn btn-outline-primary d-none d-md-block" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
</form>
<span class="pull-right">
    <a class="btn btn-outline-primary" role="button" href="{% if is_property %}{% url 'inventory:add_property' %}{% else %}{% url 'inventory:add' %}{% endif %}">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="d-none d-md-inline">新建</span>
    </a>
</span>
<p></p>
{% if keyword %}
<p class="lead">
    名称中含关键词：{{ keyword }}
</p>
{% endif %}
{% if item_list %}
<table class="table table-striped table-sm">
    <thead>
        <th>名称</th>
        {% if not is_property %}
        <th>位置</th>
        {% endif %}
        <th>类型</th>
        <th class="d-none d-md-table-cell">创建用户</th>
    </thead>
    <tbody>
        {% for item in item_list %}
        <tr>
            <td><a href="{% url 'inventory:item' item.id %}">{{ item }}</a></td>
            {% if not is_property %}
            <td>
                {% if item.location %}
                <a href="{% url 'inventory:location' item.location.id %}">{{ item.location }}</a>
                {% else %}
                未放入
                {% endif %}
            </td>
            {% endif %}
            <td>
                {% if item.template %}
                <a href="{% url 'inventory:template' item.template.id %}">{{ item.template }}</a>
                {% endif %}
            </td>
            <td class="d-none d-md-table-cell">
                <a href="{% url 'personal:user' item.owner.id %}">
                    {{ item.owner }}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav aria-label="page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="?page=1&q={{ keyword_iri }}">
                首页
            </a>
        </li>
        {% if item_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ item_list.previous_page_number }}&q={{ keyword_iri }}">
                上一页
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">
                上一页
            </a>
        </li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="#">
                {{ item_list.number }}/{{ item_list.paginator.num_pages }}
            </a>
        </li>
        {% if item_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ item_list.next_page_number }}&q={{ keyword_iri }}">
                下一页
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">
                下一页
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="?page={{ item_list.paginator.num_pages }}&q={{ keyword_iri }}">
                尾页
            </a>
        </li>
    </ul>
</nav>
{% else %}
<p class="lead">没有符合条件的{{ name }}</p>
{% endif %}
<form id="selectForm" method="post" action="./?action=user">
    {% csrf_token %}
    <select name="filter" id="id_filter" class="selectpicker" data-live-search="true" multiple title="过滤器" data-actions-box="true">
        {% for key, value in choices %}
        <option value="{{ key }}" {% if key not in user_filter %} selected {% endif %}>
            {{ value }}
        </option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-outline-primary">确认</button>
</form>
{% endblock %}