{% extends "base.html" %}
{% load staticfiles %}
{% block title %}物品详情：{{ item.name }} {% endblock %}
{% block content %}
{% if message %}
<div class="alert alert-warning">{{ message }}</div>
{% endif %}
<p class="lead">物品详情：</p>
<table class="table table-striped table-condensed">
    <tbody>
        <tr>
            <td>名称</td>
            <td>{{ item.name }}</td>
        </tr>
        <tr>
            <td>数量</td>
            <td>{{ item.quantity }} {% if item.unit %}{{ item.unit }}{% endif %}</td>
        </tr>
        <tr>
            <td>位置</td>
            <td>
                {% if item.location %}
                <a href="{% url 'inventory:location' item.location.id %}">{{ item.location }}</a>
                {% else %}
                未放入
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>所有者</td>
            <td>
                {{ item.owner }}
            </td>
        </tr>
        <tr>
            <td>关联用户</td>
            <td>
            {% if item.is_public %}
                All
            {% else %}
                {% for user in item.allowed_users.all %}
                {{ user.name }}
                {% endfor %}
            {% endif %}
            </td>
        </tr>
        <tr>
            <td>属性</td>
            <td>{{ item.attribute }}</td>
        </tr>
    </tbody>
</table>
<!-- {#<dl class="dl-horizontal">#}
    {# <dt>comments</dt>
    <dd>{{ item.comments }}</dd>#}
    {#
</dl>#} -->
<a class="btn btn-outline-primary" role="button" href="#" onClick="useItem()">使用物品</a>
<!-- <a class="btn btn-outline-primary" role="button" href="{% url 'admin:inventory_item_change' item.id %}">编辑物品</a> -->
{% if item.location %}
<a class="btn btn-outline-primary" role="button" href="{% url 'inventory:location_root' %}?pending={{ item.id }}">更改位置</a>
<a class="btn btn-outline-primary" role="button" href="{% url 'inventory:put' item.id 0 %}">取出物品</a>
{% else %}
<a class="btn btn-outline-primary" role="button" href="{% url 'inventory:location_root' %}?pending={{ item.id }}">存入物品</a>
{% endif %}
{% if del_permission %}
<a class="btn btn-outline-primary" role="button" href="#" onClick="cfm('{% url 'inventory:delete' item.id %}', '{{ item }}')">删除物品</a>
{% elif unlink_permission %}
<a class="btn btn-outline-primary" role="button" href="#" onClick="cfm('{% url 'inventory:unlink' item.id %}', '{{ item }}')">取消关联</a>
{% endif %}
<a class="btn btn-outline-primary" href="{% url 'trace_item:trace' item.id %}">追踪物品</a>
<div class="modal fade" id="useItemModal" tabindex="-1" role="dialog" aria-labelledby="useItemModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form class="form-change" action="" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="useItemModal">
                        使用物品
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {{ use_item_form.quantity.label_tag }}
                        {{ use_item_form.quantity}}
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="cfmUrl" />
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-outline-primary">确认</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="cfmModal" tabindex="-1" role="dialog" aria-labelledby="cfmModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cfmModalTitle">
                    <i class="fa fa-info" aria-hidden="true"></i> 提示信息
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalNotice"></p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="cfmUrl" />
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-outline-primary" onClick="urlSubmit()">确定</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function useItem() {
        $('#useItemModal').modal();
    }
    function cfm(url, item) {
        $('#modalNotice').html('您确认要删除<b>' + item + '</b>吗？');
        $('#cfmUrl').val(url);
        $('#cfmModal').modal();
    }
    function urlSubmit() {
        var url = $.trim($("#cfmUrl").val());
        window.location.href = url;
    }
</script>
{% endblock %}