{% extends "base.html" %}
{% load staticfiles %}
{% block title %}物品列表{% endblock %}
{% block content %}
<span class="lead">
    物品：
</span>
<form class="form-inline pull-right" method="get" action="">
    <input class="form-control mr-sm-2" name="q" type="search" placeholder="搜索">
    <button class="btn btn-outline-primary d-none d-md-block" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
</form>
<span class="pull-right">
    <a class="btn btn-outline-primary" role="button" href="{% url 'inventory:add' %}">
        <i class="fa fa-plus" aria-hidden="true"></i> 新建
    </a>
</span>
<p></p>
{% if keyword %}
<p class="lead">
    名称中含关键词：{{ keyword }}
</p>
{% endif %}
{% if item_list %}
<table class="table table-striped table-sm">
    <thead>
        <th>名称</th>
        <th>位置</th>
        <th class="d-none d-sm-table-cell">数量</th>
        <th>类型</th>
        <th class="d-none d-md-table-cell">所有者</th>
    </thead>
    <tbody>
        {% for item in item_list %}
        <tr>
            <td><a href="{% url 'inventory:item' item.id %}">{{ item }}</a></td>
            <td>
                {% if item.location %}
                <a href="{% url 'inventory:location' item.location.id %}">{{ item.location }}</a>
                {% else %}
                未放入
                {% endif %}
            </td>
            <td class="d-none d-sm-table-cell">{{ item.quantity }} {% if item.unit %}{{ item.unit }}{% endif %}</td>
            <td>{% if item.template %}{{ item.template }}{% endif %}</td>
            <td class="d-none d-md-table-cell">
                <a href="{% url 'personal:user' item.owner.id %}">
                    {{ item.owner }}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav aria-label="page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="?page=1&q={{ keyword_iri }}">
                首页
            </a>
        </li>
        {% if item_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ item_list.previous_page_number }}&q={{ keyword_iri }}">
                上一页
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">
                上一页
            </a>
        </li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="#">
                {{ item_list.number }}/{{ item_list.paginator.num_pages }}
            </a>
        </li>
        {% if item_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ item_list.next_page_number }}&q={{ keyword_iri }}">
                下一页
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">
                下一页
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="?page={{ item_list.paginator.num_pages }}&q={{ keyword_iri }}">
                尾页
            </a>
        </li>
    </ul>
</nav>
{% else %}
<p class="lead">没有符合条件的物品</p>
{% endif %}
{% endblock %}