{% extends "base.html" %}

{% block title %}物品详情{{ item.name }} {% endblock %}

{% block content %}
{% if permission %}

<p class="lead">物品详情：</p>
<table class="table table-striped table-condensed">
    <tbody>
        <tr>
            <td>名称</td>
            <td>{{ item.name }}</td>
        </tr>
        <tr>
            <td>数量</td>
            <td>{{ item.quantity }} {% if item.unit %}{{ item.unit }}{% endif %}</td>
        </tr>
        <tr>
            <td>用户</td>
            <td>
                {% for user in item.user.all %}
                {{ user.name }}
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>

<!-- {#<dl class="dl-horizontal">#}
    {# <dt>comments</dt>
    <dd>{{ item.comments }}</dd>#}
    {#
</dl>#} -->

<ul>
    <li><a href="{% url 'admin:inventory_item_change' item.id %}">编辑物品</a></li>
    <li><a href="{% url 'inventory:location_root' %}?pending={{ item.pk }}">选择位置</a></li>
</ul>

{% else %}
    <div>You have no permission to view this page.</div>
{% endif %}

{% endblock %}