{% extends "base.html" %}
{% load staticfiles %}
{% block title %}位置列表{% endblock %}
{% block content %}
{% if pending %}
<p class="lead">选择想存入的位置：</p>
{% endif %}
<p class="lead">
    {% if location %}
    当前位置：{{ location }}
    {% elif location_list %}
    当前位置：Root
    {% endif %}
</p>
<table class="table table-striped table-condensed">
    <thead>
        <th>路径</th>
        <th>可使用用户</th>
    </thead>
    <tbody>
        {% if location.parent %}
        <tr>
            <td><a href="{% url 'inventory:location' location.parent.id %}{% if pending %}?pending={{ pending.pk }}{% endif %}">Back</a></td>
            <td>/</td>
        </tr>
        {% elif my_ID %}
        <tr>
            <td><a href="{% url 'inventory:location_root' %}{% if pending %}?pending={{ pending.pk }}{% endif %}">Back</a></td>
            <td>/</td>
        </tr>
        {% endif %}
        {% for sublocation in location_list %}
        <tr>
            <td><a href="{% url 'inventory:location' sublocation.id %}{% if pending %}?pending={{ pending.pk }}{% endif %}">
                    {{ sublocation.path }}</a></td>
            <td>
                {% for user in sublocation.allowed_users.all %}
                {{ user.name }}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if item_list %}
<p class="lead">存放物品：</p>
<table class="table table-striped table-condensed">
    <thead>
        <th>名称</th>
        <!-- <th>位置</th> -->
        <th>数量</th>
        <!-- <th>单位</th> -->
        <th>属性</th>
    </thead>
    <tbody>
        {% for item in item_list %}
        <tr>
            <td><a href="{% url 'inventory:item' item.id %}">{{ item.name }}</a></td>
            <!-- <td>{{ item.location }}</td> -->
            <td>{{ item.quantity }} {% if item.unit %}{{ item.unit }}{% endif %}</td>
            <!-- <td>{{ item.unit }}</td> -->
            <td>{{ item.attribute }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% elif location %}
<p class="lead">没有存放物品</p>
{% endif %}
{% if pending and location %}
<a href="{% url 'inventory:put' pending.pk location.pk %}">将{{ pending }}存入此位置</a>
{% endif %}
{% endblock %}