{% extends "base.html" %}
{% load staticfiles %}
{% block title %}位置列表{% endblock %}
{% block content %}
{% if pending %}
<p class="lead">选择想存入{{ pending }}的位置：</p>
{% endif %}
<p class="lead">
    当前位置：{{ loc_now_str }}
    {% if not pending %}
    <a class="btn btn-outline-primary pull-right" role="button" href="#" onClick="qrcodeMdl('{{ QRCode }}')">
        <i class="fa fa-qrcode" aria-hidden="true"></i></i> 二维码
    </a>
    {% endif %}
</p>
<table class="table table-striped row mx-0">
    <thead class="w-100">
        <tr class="row mx-0">
            <th class="col-3">路径</th>
            <th class="col-9">可使用用户</th>
        </tr>
    </thead>
    <tbody class="w-100">
        {% if location_id %}
        <tr class="row mx-0">
            <td class="col-3">
                <a href="
                    {% if loc_now.parent %}
                    {% url 'inventory:location' loc_now.parent.id %}{% if pending %}?pending={{ pending.pk }}{% endif %}
                    {% else %}
                    {% url 'inventory:location_root' %}{% if pending %}?pending={{ pending.pk }}{% endif %}
                    {% endif %}
                ">
                    Back
                </a>
            </td>
            <td class="col-9">/</td>
        </tr>
        {% endif %}
        {% for sublocation in allow_locs %}
        <tr class="row mx-0">
            <td class="col-3">
                <a href="{% url 'inventory:location' sublocation.id %}{% if pending %}?pending={{ pending.pk }}{% endif %}">
                    {{ sublocation.path }}
                </a>
            </td>
            <td class="col-9">
                {% if sublocation.is_public %}
                All
                {% else %}
                {{ sublocation.allowed_users_summary }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% for sublocation in unallow_locs %}
        <tr class="row mx-0">
            <td class="col-3">
                {{ sublocation.path }}
            </td>
            <td class="col-9">
                <a href="{% url 'inventory:applyloc' sublocation.id %}" style="color: #6c757d;">
                    <i class="fa fa-link" aria-hidden="true"></i>申请权限
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if item_list %}
<p class="lead">
    已存放物品：
    {% if not pending %}
    <a class="btn btn-outline-primary pull-right" role="button" href="{% url 'inventory:additem2loc' location_id %}">
        <i class="fa fa-plus" aria-hidden="true"></i> 添加
    </a>
    {% endif %}
</p>
<table class="table table-striped">
    <thead>
        <th>名称</th>
        <th>数量</th>
        <th>属性</th>
    </thead>
    <tbody>
        {% for item in item_list %}
        <tr>
            <td><a href="{% url 'inventory:item' item.id %}">{{ item }}</a></td>
            <td>{{ item.quantity }} {% if item.unit %}{{ item.unit }}{% endif %}</td>
            <td>{{ item.attribute }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% elif loc_now %}
<p class="lead">没有存放物品
{% if not pending %}
<a class="btn btn-outline-primary pull-right" role="button" href="{% url 'inventory:additem2loc' location_id %}">
    <i class="fa fa-plus" aria-hidden="true"></i> 添加
</a>
{% endif %}
</p>
{% endif %}
{% if location_id %}
{% if pending %}
<a class="btn btn-outline-primary" href="#" onClick="cfm('您确认要将<b>{{ pending }}</b>存入<b>{{ loc_now_str }}</b>吗？', '{% url 'inventory:put' pending.pk location_id %}')"
    role="button">
    将{{ pending }}存入此位置
</a>
{% endif %}
{% endif %}
<!-- modal start -->
{% if pending %}
<div class="modal fade" id="cfmModal" tabindex="-1" role="dialog" aria-labelledby="cfmModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cfmModalTitle">
                    <i class="fa fa-info" aria-hidden="true"></i> 提示信息
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalNotice"></p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="cfmUrl" />
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-outline-primary" onClick="urlSubmit()">确定</button>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="modal fade" id="qrcodeModal" tabindex="-1" role="dialog" aria-labelledby="qrcodeModalTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="qrcodeModalTitle">
                <i class="fa fa-qrcode" aria-hidden="true"></i> 二维码
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center">
            <img id="qrcodeId" class="img-responsive" src="#" alt="二维码">
        </div>
    </div>
</div>
</div>
{% endif %}
<!-- modal end -->
{% endblock %}
{% block script %}
<script>
    function cfm(msg, url) {
        $('#modalNotice').html(msg);
        $('#cfmUrl').val(url);
        $('#cfmModal').modal();
    }

    function urlSubmit() {
        var url = $.trim($("#cfmUrl").val());
        window.location.href = url;
    }

    function qrcodeMdl(url) {
        $('#qrcodeModal').modal();
        $("#qrcodeId").attr('src', url);
    }
</script>
{% endblock %}