{% extends "base.html" %}
{% load staticfiles %}
{% block title %}物品模板详情：{{ template }} {% endblock %}
{% block content %}
{% if message %}
<div class="alert alert-warning">{{ message }}</div>
{% endif %}
<p class="lead pull-left">物品模板详情：{{ template }}</p>
<p class="lead pull-right">{% if template.is_property %}属性{% else %}物品{% endif %}</p>
<table class="table table-striped">
    <thead>
        <th>属性名称</th>
        <th>类型</th>
        <th>必填</th>
        <th>提示信息</th>
    </thead>
    <tbody>
        <tr>
            <td>{{ template.key_name }}</td>
            <td>text</td>
            <td>是</td>
            <td></td>
        </tr>
        {% for value in template.extra_data %}
        <tr>
            <td>{{ value.name }}</td>
            <td>{{ value.type }}</td>
            <td>{% if value.required %}是{% else %}否{% endif %}</td>
            <td>{{ value.placeholder }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-outline-primary" role="button" href="{% url 'inventory:template_edit' template.id %}">
    <i class="fa fa-edit" aria-hidden="true"></i> 编辑
</a>
<a class="btn btn-outline-primary" role="button" href="#" onClick="cfm('{% url 'inventory:template_delete' template.id %}', '{{ template }}')">
    <i class="fa fa-trash" aria-hidden="true"></i> 删除
</a>
<div class="modal fade" id="cfmModal" tabindex="-1" role="dialog" aria-labelledby="cfmModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cfmModalTitle">
                    <i class="fa fa-info" aria-hidden="true"></i> 提示信息
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalNotice"></p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="cfmUrl" />
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-outline-primary" onClick="urlSubmit()">确定</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function cfm(url, item) {
        $('#modalNotice').html('您确认要删除模板<b>' + item + '</b>吗？');
        $('#cfmUrl').val(url);
        $('#cfmModal').modal();
    }

    function urlSubmit() {
        var url = $.trim($("#cfmUrl").val());
        window.location.href = url;
    }
</script>
{% endblock %}