{% extends "base.html" %}
{% load staticfiles %}
{% block title %}物品列表{% endblock %}
{% block content %}
<span class="lead">模板：</span>
<form class="form-inline pull-right" method="get" action="">
    <input class="form-control mr-sm-2" name="q" type="search" placeholder="搜索">
    <button class="btn btn-outline-primary d-none d-md-block" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
</form>
{% if tmp_user.is_superadmin %}
<div class="pull-right">
    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-plus" aria-hidden="true"></i>
        新建
    </button>
    <div class="dropdown-menu" style="min-width: 0px;" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'inventory:add_template' %}">物品模板</a>
        <a class="dropdown-item" href="{% url 'inventory:add_template' %}?property=true">物品属性模板</a>
    </div>
</div>
<p></p>
{% endif %}
{% if keyword %}
<p class="lead">
    名称中含关键词：{{ keyword }}
</p>
{% endif %}
{% if template_list %}
<table class="table table-striped table-sm row mx-0">
    <thead class="w-100">
        <tr class="row mx-0">
            <th class="col-2">名称</th>
            <th class="col-2">类型</th>
            <th class="col-8">属性</th>
        </tr>
    </thead>
    <tbody class="w-100">
        {% for template in template_list %}
        <tr class="row mx-0">
            <td class="col-2"><a href="{% url 'inventory:template' template.id %}">{{ template }}</a></td>
            <td class="col-2">{% if template.is_property %}物品属性模板{% else %}物品模板{% endif %}</td>
            <td class="col-8">
                {{ template.key_name }}
                {% for value in template.extra_data %}
                | {{ value.name }}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav aria-label="page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="?page=1&q={{ keyword_iri }}">
                首页
            </a>
        </li>
        {% if template_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ template_list.previous_page_number }}&q={{ keyword_iri }}">
                上一页
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">
                上一页
            </a>
        </li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="#">
                {{ template_list.number }}/{{ template_list.paginator.num_pages }}
            </a>
        </li>
        {% if template_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ template_list.next_page_number }}&q={{ keyword_iri }}">
                下一页
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">
                下一页
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="?page={{ template_list.paginator.num_pages }}&q={{ keyword_iri }}">
                尾页
            </a>
        </li>
    </ul>
</nav>
{% else %}
<p class="lead">没有符合条件的物品模板</p>
{% endif %}
{% endblock %}