{% extends "base.html" %}
{% load staticfiles %}
{% block title %}物品列表{% endblock %}
{% block content %}
<span class="lead">
    物品模板：
</span>
<form class="form-inline pull-right" method="get" action="">
    <input class="form-control mr-sm-2" name="q" type="search" placeholder="搜索">
    <button class="btn btn-outline-primary d-none d-md-block" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
</form>
<span class="pull-right">
    <a class="btn btn-outline-primary" role="button" href="{% url 'inventory:add_template' %}">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="d-none d-md-inline">新建</span>
    </a>
</span>
<p></p>
{% if keyword %}
<p class="lead">
    名称中含关键词：{{ keyword }}
</p>
{% endif %}
{% if template_list %}
<table class="table table-striped table-sm">
    <thead>
    <tr class="row">
        <th class="col-4 col-md-3 col-lg-2">名称</th>
        <th class="col-8 col-md-9 col-lg-10">属性</th>
    </tr>
    </thead>
    <tbody>
        {% for template in template_list %}
        <tr class="row">
            <td class="col-4 col-md-3 col-lg-2"><a href="{% url 'inventory:template' template.id %}">{{ template }}</a></td>
            <td class="col-8 col-md-9 col-lg-10">
                {{ template.key_name }}
                {% for value in template.extra_data %}
                | {{ value.name }}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav aria-label="page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="?page=1&q={{ keyword_iri }}">
                首页
            </a>
        </li>
        {% if template_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ template_list.previous_page_number }}&q={{ keyword_iri }}">
                上一页
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">
                上一页
            </a>
        </li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="#">
                {{ template_list.number }}/{{ template_list.paginator.num_pages }}
            </a>
        </li>
        {% if template_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ template_list.next_page_number }}&q={{ keyword_iri }}">
                下一页
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">
                下一页
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="?page={{ template_list.paginator.num_pages }}&q={{ keyword_iri }}">
                尾页
            </a>
        </li>
    </ul>
</nav>
{% else %}
<p class="lead">没有符合条件的物品模板</p>
{% endif %}
{% endblock %}