{% extends "base.html" %}
{% load staticfiles %}
{% block title %}物品{% if template.is_property %}属性{% endif %}模板详情：{{ template }} {% endblock %}
{% block content %}
{% if message %}
<div class="alert alert-warning">{{ message }}</div>
{% endif %}
<p class="lead">物品{% if template.is_property %}属性{% endif %}模板详情：{{ template }}</p>
<span class="lead pull-left">可使用该模板用户：</span>
{% if template.allowed_users.exists %}
{% if tmp_user.is_superadmin %}
<div id="userArea">
    {% for user in template.allowed_users.all %}
    {{ user.name }}
    {% endfor %}
</div>
{% endif %}
{% else %}
<span class="lead">全部</span>
{% endif %}
<p></p>
<table class="table table-striped">
    <thead>
        <th>属性名称</th>
        <th>类型</th>
        <th>必填</th>
        <th>提示信息</th>
    </thead>
    <tbody>
        <tr>
            <td>{{ template.key_name }}</td>
            <td>text</td>
            <td>是</td>
            <td></td>
        </tr>
        {% for value in template.extra_data %}
        <tr>
            <td>{{ value.name }}</td>
            <td>{{ value.type }}</td>
            <td>{% if value.required %}是{% else %}否{% endif %}</td>
            <td>{{ value.placeholder }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if request.session.is_superadmin %}
<a class="btn btn-outline-primary" role="button" href="{% url 'inventory:template_edit' template.id %}">
    <i class="fa fa-edit" aria-hidden="true"></i> 编辑
</a>
<a class="btn btn-outline-primary" role="button" href="#" onClick="cfm('{% url 'inventory:template_delete' template.id %}', '{{ template }}')">
    <i class="fa fa-trash" aria-hidden="true"></i> 删除
</a>
<a class="btn btn-outline-primary" role="button" href="{% url 'inventory:template_alter' template.id %}">
    <i class="fa fa-refresh" aria-hidden="true"></i> 转换为物品{% if not template.is_property %}属性{% endif %}
</a>
{% endif %}
<a class="btn btn-outline-primary" role="button" href="{% url 'inventory:template_export' template.id %}">
    <i class="fa fa-share" aria-hidden="true"></i> 导出
</a>
{% if request.session.is_superadmin %}
<div class="modal fade" id="cfmModal" tabindex="-1" role="dialog" aria-labelledby="cfmModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cfmModalTitle">
                    <i class="fa fa-info" aria-hidden="true"></i> 提示信息
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalNotice"></p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="cfmUrl" />
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-outline-primary" onClick="urlSubmit()">确定</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
<table class="table table-striped table-sm" id="export_data">
    <thead>
        {% for key in export_keys %}
        <th>{{ key }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for obj in full_info %}
            <tr>
            {% for value in obj %}
                <td>{{ value }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block script %}
<script>
    function cfm(url, item) {
        $('#modalNotice').html('您确认要删除模板<b>' + item + '</b>吗？');
        $('#cfmUrl').val(url);
        $('#cfmModal').modal();
    }

    function urlSubmit() {
        var url = $.trim($("#cfmUrl").val());
        window.location.href = url;
    }
</script>
<script src="{% static '/js/tableExport.min.js' %}"></script>
<script>
    function exportAll(type) {
        $('#export_data').tableExport({
            filename: '{{ user.name }}操作记录_%YY%-%MM%-%DD%',
            format: type
        });
    }
</script>
{% endblock %}