{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% if is_property %}{% trans "物品属性" %}{% else %}{% trans "物品" %}{% endif %} {% trans "模板编辑" %}：{{ template }} {% endblock %}
{% block content %}
{% if message %}
<div class="alert alert-warning">{{ message }}</div>
{% endif %}
<p class="lead">{% if is_property %}{% trans "物品属性" %}{% else %}{% trans "物品" %}{% endif %} {% trans "模板编辑" %}：{{ template }}</p>
<form method="post" action="">
    <span class="lead pull-left">{% trans "可使用该模板用户" %}：</span>
    <select name="share" id="share_id" class="selectpicker" data-live-search="true" multiple title="{% trans "允许全部用户" %}">
        {% for user in all_users %}
        <option value="{{ user.id }}" {% if user in template.allowed_users.all %} selected {% endif %}>
            {{ user.name }}
        </option>
        {% endfor %}
    </select>
    <p></p>
    <table class="table table-striped" id="editTable">
        <thead>
            <th>{% trans "属性名称" %}</th>
            <th>{% trans "类型" %}</th>
            <th>{% trans "必填" %}</th>
            <th>{% trans "提示信息" %}</th>
            <th></th>
        </thead>
        <tbody>
            {% csrf_token %}
            <tr>
                <td>
                    <input type="text" class="form-control" name="custom_id_name" value="{{ template.custom_id_name }}">
                </td>
                <td>
                    <select class="form-control" disabled>
                        <option selected="selected">ID</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" disabled>
                        <option selected="selected">{% trans "是" %}</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control" name="custom_id_format" value="{{ template.custom_id_format }}">
                </td>
                <td>
                    <button type="button" class="btn text-muted" disabled>{% trans "删除" %}</button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" name="key_name" value="{{ template.key_name }}" required>
                </td>
                <td>
                    <select class="form-control" disabled>
                        <option selected="selected">text</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" disabled>
                        <option selected="selected">{% trans "是" %}</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control" name="key_name_placeholder" value="{{ template.key_name_placeholder }}">
                </td>
                <td>
                    <button type="button" class="btn text-muted" disabled>{% trans "删除" %}</button>
                </td>
            </tr>
            {% for value in template.extra_data %}
            <tr id="tr_{{ forloop.counter }}">
                <td>
                    <input type="text" name="name_{{ forloop.counter }}" class="form-control" maxlength="128" value="{{ value.name }}">
                </td>
                <td>
                    <select name="type_{{ forloop.counter }}" class="form-control">
                    {% for type in choices %}
                        <option value="{{ type }}" {% if value.type == type %} selected="selected" {% endif %}>{{ type }}</option>
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="required_{{ forloop.counter }}" class="form-control">
                        <option value="1" {% if value.required %} selected="selected" {% endif %}>{% trans "是" %}</option>
                        <option value="0" {% if not value.required %} selected="selected" {% endif %}>{% trans "否" %}</option>
                    </select>
                </td>
                <td>
                    <input type="text" name="placeholder_{{ forloop.counter }}" class="form-control" maxlength="128"
                        value="{{ value.placeholder }}">
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary" onclick="del_row({{ forloop.counter }})">{% trans "删除" %}</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-outline-primary" onClick="addRow()">
        <i class="fa fa-plus" aria-hidden="true"></i> {% trans "新建属性" %}
    </button>
    <button type="submit" class="btn btn-outline-primary">
        <i class="fa fa-save" aria-hidden="true"></i> {% trans "保存" %}
    </button>
</form>
{% endblock %}
{% block script %}
<script>
    index = {{ template.extra_data|length }}
    function addRow() {
        index++;
        var myHtml = ['<tr id="tr_' + index + '">',
                '    <td>',
                '        <input type="text" name="name_' + index + '" class="form-control" maxlength="128">',
                '    </td>',
                '    <td>',
                '        <select name="type_' + index + '" class="form-control">',
                {% for type in choices %}
                '        <option value="{{ type }}">{{ type }}</option>',
                {% endfor %}
                '        </select>',
                '    </td>',
                '    <td>',
                '        <select name="required_' + index + '" class="form-control">',
                '            <option value="1" selected="selected">{% trans "是" %}</option>',
                '            <option value="0">{% trans "否" %}</option>',
                '        </select>',
                '    </td>',
                '    <td>',
                '        <input type="text" name="placeholder_' + index + '" class="form-control" maxlength="128">',
                '    </td>',
                '    <td>',
                '        <button type="button" class="btn btn-outline-primary" onclick="del_row(' + index + ')">{% trans "删除" %}</button>',
                '    </td>',
                '</tr>'].join("");
        $("#editTable").append(myHtml);
    };
    function del_row(b) {
        $('#tr_'+b).remove();
    }
</script>
{% endblock %}