{% extends "base.html" %}

{% block title %} 实验室物品管理 {% endblock %}

{% block content %}
<p class="lead">今日活跃</p>
<div id="main1" class="col-sm-12" style="height: 300px;"></div>
<p class="lead">位置关系</p>
<div id="main2" class="col-sm-12 border" style="height: 600px;"></div>



{% endblock %}

{% block script %}
<script src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts.min.js"></script>
<script>
option = {
    tooltip: {},
    series : [
        {
            name: '访问来源',
            type: 'pie',
            radius: '55%',
            data: {{ loc_data|safe }}
        }
    ]
};
var myChart = echarts.init(document.getElementById('main1'));
myChart.setOption(option);
</script>
<script>
data = {{ relation_nodes|safe }}
data.forEach(function (node) {
    node.draggable = true;
    node.label = {
        normal: {
            show: node.symbolSize > 15
        }
    };
});
option = {
    tooltip: {},
    animationDurationUpdate: 1500,
    animationEasingUpdate: 'quinticInOut',
    series : [
        {
            type: 'graph',
            layout: 'force',
            force:{
                repulsion: 100
            },
            symbolSize: 50,
            edgeSymbol: ['circle', 'arrow'],
            edgeSymbolSize: [4, 10],
            categories: {{ categories|safe }},
            data: data,
            links: {{ relation_links|safe }},
            roam: true,
            focusNodeAdjacency: true,
            itemStyle: {
                normal: {
                    borderColor: '#fff',
                    borderWidth: 1,
                    shadowBlur: 10,
                    shadowColor: 'rgba(0, 0, 0, 0.3)'
                }
            },
            label: {
                position: 'right',
                formatter: '{b}'
            },
            lineStyle: {
                color: 'source',
                curveness: 0.3
            },
            emphasis: {
                lineStyle: {
                    width: 10
                }
            }
        }
    ]
};
var myChart = echarts.init(document.getElementById('main2'));
myChart.setOption(option);
</script>

{% endblock %}