{% extends "base.html" %}

{% block title %} 实验室物品管理 {% endblock %}

{% block content %}
<nav class="mb-3">
    <div class="nav nav-tabs" role="tablist">
        <a class="nav-item nav-link" href="{% url 'traffic:userAnalyze' %}" aria-selected="false">
            <i class="fa fa-file-text" aria-hidden="true"></i>用户
        </a>
        <a class="nav-item nav-link" href="{% url 'traffic:locationAnalyze' %}" aria-selected="false">
            <i class="fa fa-pie-chart" aria-hidden="true"></i>位置
        </a>
        <a class="nav-item nav-link" href="{% url 'traffic:calender' %}" aria-selected="false">
            <i class="fa fa-pie-chart" aria-hidden="true"></i>日历
        </a>
        <a class="nav-item nav-link active" href="{% url 'traffic:performance' %}" aria-selected="true">
            <i class="fa fa-pie-chart" aria-hidden="true"></i>性能
        </a>
    </div>
</nav>
<div class="row">
<div id="main1" class="container col-lg-6 chart" style="height: 1200px;"></div>
<div id="main2" class="container col-lg-6 chart" style="height: 1200px;"></div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts.min.js"></script>
<script>
let _time = {{ avgt|safe }};
function less_time(keya, keyb) {
    return _time[keya] - _time[keyb]
}
let new_keys = Object.keys(_time).sort(less_time);
let avg_time = {};
new_keys.forEach(function (key) {
    avg_time[key] = _time[key]
});
_time = {{ maxt|safe }};
new_keys = Object.keys(_time).sort(less_time);
let max_time = {};
new_keys.forEach(function (key) {
    max_time[key] = _time[key]
});
var time = {
  "avg_time": avg_time,
  "max_time": max_time,
};
var canvas = document.createElement('canvas');
var ctx = canvas.getContext('2d');
canvas.width = canvas.height = 100;
ctx.textAlign = 'center';
ctx.textBaseline = 'middle';
ctx.globalAlpha = 0.08;
ctx.font = '20px Microsoft Yahei';
ctx.translate(50, 50);
ctx.rotate(-Math.PI / 4);

option = {
    backgroundColor: {
        type: 'pattern',
        image: canvas,
        repeat: 'repeat'
    },
    tooltip: {},
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    title: [{
        text: '平均加载时间(毫秒)',
        x: '50%',
        textAlign: 'center'
    }, {
        text: '最大加载时间(毫秒)',
        x: '50%',
        y: '50%',
        textAlign: 'center'
    }],
    dataZoom: [
        {
            id: 'dataZoomX',
            type: 'slider',
            xAxisIndex: [0,1],
            filterMode: 'filter'
        },
        {
            id: 'dataZoomYa',
            type: 'slider',
            yAxisIndex: [0],
            filterMode: 'empty'
        },
        {
            id: 'dataZoomYb',
            type: 'slider',
            yAxisIndex: [1],
            filterMode: 'empty'
        }
    ],
    grid: [{
        top: '3%',
        bottom: '57%',
        left: 10,
        containLabel: true
    }, {
        top: '53%',
        bottom: '3%',
        left: 10,
        containLabel: true
    }],
    xAxis: [{
        type: 'value',
        max: time.all,
        splitLine: {
            show: false
        }
    }, {
        type: 'value',
        max: time.all,
        gridIndex: 1,
        splitLine: {
            show: false
        }
    }],
    yAxis: [{
        type: 'category',
        data: Object.keys(time.avg_time),
        axisLabel: {
            interval: 0,
            rotate: 30
        },
        splitLine: {
            show: false
        }
    }, {
        gridIndex: 1,
        type: 'category',
        data: Object.keys(time.max_time),
        axisLabel: {
            interval: 0,
            rotate: 30
        },
        splitLine: {
            show: false
        }
    }],
    calculable : true,
    series: [{
        type: 'bar',
        stack: 'chart',
        z: 3,
        label: {
            normal: {
                position: 'right',
                show: true
            }
        },
        data: Object.keys(time.avg_time).map(function (key) {
            return time.avg_time[key];
        })
    }, {
        type: 'bar',
        stack: 'chart',
        silent: true,
        itemStyle: {
            normal: {
                color: '#eee'
            }
        },
        data: Object.keys(time.avg_time).map(function (key) {
            return time.all - time.avg_time[key];
        })
    }, {
        type: 'bar',
        stack: 'component',
        xAxisIndex: 1,
        yAxisIndex: 1,
        yAxisIndex: 1,
        z: 3,
        label: {
            normal: {
                position: 'right',
                show: true
            }
        },
        data: Object.keys(time.max_time).map(function (key) {
            return time.max_time[key];
        })
    }, {
        type: 'bar',
        stack: 'component',
        silent: true,
        xAxisIndex: 1,
        yAxisIndex: 1,
        itemStyle: {
            normal: {
                color: '#eee'
            }
        },
        data: Object.keys(time.max_time).map(function (key) {
            return time.all - time.max_time[key];
        })
    }]
}
var myChart = echarts.init(document.getElementById('main1'));
myChart.setOption(option);
</script>
<script>
var totalTime = {{ totalTime|safe }};

var totalTimes = {{ totalTimes|safe }};

var canvas = document.createElement('canvas');
var ctx = canvas.getContext('2d');
canvas.width = canvas.height = 100;
ctx.textAlign = 'center';
ctx.textBaseline = 'middle';
ctx.globalAlpha = 0.08;
ctx.font = '20px Microsoft Yahei';
ctx.translate(50, 50);
ctx.rotate(-Math.PI / 4);

option = {
    backgroundColor: {
        type: 'pattern',
        image: canvas,
        repeat: 'repeat'
    },
    tooltip: {},
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    title: [{
        text: '各页面加载总耗时(毫秒)',
        subtext: '总计 ' + Object.keys(totalTime).reduce(function (all, key) {
            return all + totalTime[key];
        }, 0),
        x: '50%',
        textAlign: 'center'
    }, {
        text: '各页面加载总次数(次)',
        subtext: '总计 ' + Object.keys(totalTimes).reduce(function (all, key) {
            return all + totalTimes[key];
        }, 0),
        x: '50%',
        y: '50%',
        textAlign: 'center'
    }],
    calculable : true,
    series: [{
        type: 'pie',
        radius: [0, '50%'],
        center: ['50%', '25%'],
        startAngle: 0,
        data: Object.keys(totalTime).map(function (key) {
            return {
                name: key.replace('.js', ''),
                value: totalTime[key]
            }
        })
    }, {
        type: 'pie',
        radius: [0, '50%'],
        center: ['50%', '75%'],
        startAngle: 0,
        data: Object.keys(totalTimes).map(function (key) {
            return {
                name: key.replace('.js', ''),
                value: totalTimes[key]
            }
        })
    }]
}
var myChart = echarts.init(document.getElementById('main2'));
myChart.setOption(option);
</script>
{% endblock %}