{% extends "base.html" %}

{% block title %} 实验室物品管理 {% endblock %}

{% block content %}
<nav class="mb-3">
    <div class="nav nav-tabs" role="tablist">
        <a class="nav-item nav-link active" href="{% url 'traffic:userAnalyze' %}" aria-selected="true">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            用户
        </a>
        <a class="nav-item nav-link" href="{% url 'traffic:locationAnalyze' %}" aria-selected="false">
            <i class="fa fa-pie-chart" aria-hidden="true"></i>
            位置
        </a>
        <a class="nav-item nav-link" href="{% url 'traffic:calender' %}" aria-selected="false">
            <i class="fa fa-pie-chart" aria-hidden="true"></i>
            日历
        </a>
        <a class="nav-item nav-link" href="{% url 'traffic:performance' %}" aria-selected="false">
            <i class="fa fa-pie-chart" aria-hidden="true"></i>
            性能
        </a>
    </div>
</nav>
<p class="lead">{% if bias %}{{ start }}{% else %}今日{% endif %}活跃</p>
<div id="main1" class="col-sm-12" style="height: 300px;"></div>
<div id="main3" class="col-sm-12" style="height: 300px;"></div>
<nav aria-label="page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="?bias={{ bias|add:-1 }}">
                前一天
            </a>
        </li>
        {% if bias < 0 %}
        <li class="page-item">
            <a class="page-link" href="?bias={{ bias|add:1 }}">
                后一天
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?bias=0">
                今天
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="?bias=0">
                后一天
            </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="?bias=0">
                今天
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
<p class="lead">用户关系</p>
<div id="main2" class="col-sm-12 border" style="height: 600px;"></div>



{% endblock %}

{% block script %}
<script src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts.min.js"></script>
<script>
option = {
    tooltip: {},
    series : [
        {
            name: '访问来源',
            type: 'pie',
            radius: '55%',
            data: {{ user_data|safe }}
        }
    ]
};
var myChart = echarts.init(document.getElementById('main1'));
myChart.setOption(option);
</script>
<script>
option = {
    tooltip : {
        trigger: 'axis',
        axisPointer: {
            type: 'cross',
            label: {
                backgroundColor: '#6a7985'
            }
        }
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data : {{ xAxis|safe }}
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : {{ series_hour|safe }}
};

var myChart = echarts.init(document.getElementById('main3'));
myChart.setOption(option);
</script>
<script>
data = {{ relation_nodes|safe }}
data.forEach(function (node) {
    node.symbolSize = 20;
    node.draggable = true;
    node.label = {
        normal: {
            show: node.sc >= 5
        }
    };
});
option = {
    tooltip: {},
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    animationDurationUpdate: 1500,
    animationEasingUpdate: 'quinticInOut',
    series : [
        {
            type: 'graph',
            layout: 'force',
            force:{
                repulsion: 250
            },
            symbolSize: 50,
            edgeSymbol: ['circle', 'arrow'],
            edgeSymbolSize: [4, 10],
            edgeLabel: {
                normal: {
                    textStyle: {
                        fontSize: 18
                    }
                }
            },
            data: data,
            links: {{ relation_links|safe }},
            categories: [{name: "主管"}, {name: "员工"}],
            roam: true,
            focusNodeAdjacency: true,
            itemStyle: {
                normal: {
                    borderColor: '#fff',
                    borderWidth: 1,
                    shadowBlur: 10,
                    shadowColor: 'rgba(0, 0, 0, 0.3)'
                }
            },
            label: {
                position: 'right',
                formatter: '{b}'
            },
            lineStyle: {
                color: 'source',
                curveness: 0.3
            },
            emphasis: {
                lineStyle: {
                    width: 10
                }
            }
        }
    ]
};
var myChart = echarts.init(document.getElementById('main2'));
myChart.setOption(option);
</script>

{% endblock %}